<div class="page-header">
  <h1>Hacker News <small>Trending stories</small></h1>
</div>

<h4>Hot Links</h4>
<ul>
  <% @hotlinks.each do |link| %>
    <li><%= link_to "#{link.url}", link_path(link) %> (<%= link.votes %> votes)</li>
  <% end %>
</ul>

<h4>All-time best links</h4>
<ul>
  <% @links.order(:votes).reverse.each do |link| %>
    <li><%= link_to "#{link.url}", link_path(link) %> (<%= link.votes %> votes)</li>
  <% end %>
</ul>
