<div class="page-header">
  <h1>Link <small><a href="http://<%= @link.url %>" target="_blank"><%= @link.url %></a></small></h1>
</div>

<p><%= link_to "Edit link", edit_link_path, :class => "btn btn-primary" %></p>
